.itemToRemove{
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    border-color: transparent;
    overflow: hidden;
    &:hover{
        transform: scale(1.009);
        overflow: visible;
    }
    .remove{
        opacity: 0;
        top: 50%;
        right: 0;
        transform: translate(100%, -50%);
        transition: all 0.25s ease-in-out;
    }
    &:hover .remove{
        opacity: 1;
        transform: translate(50%, -50%);
    }
}

.removeWithoutShadow{
    &:hover{
        box-shadow: none;
        transform: scale(1.009);
        overflow: visible;
    }    
}